
body {
  margin:0;
}
.wrapper {
  width:500px;
  margin: 0 auto;
}
.Fullname {
	color:#010101;
	font-size:36px;
	font-family:Arial;
	text-align:center;
  font-weight:bold;
	text-transform:uppercase;
}
.Picture {
  display:block;
  width:203px;
  height:203px;
  border: solid 1px grey;
  margin: 0 auto;
}
.Student {
  margin: 27px auto 27px;
  color:1f1f1f;
  font-size:14px;
  font-family:Arial;
  
}
.list {
  color:1f1f1f;
  font-size:18px;
  font-family:Myrlad Pro;
  font-weight:bold;
}
a {
  font-style:italic;
  font-size:14px;
  font-family:Myrlad Pro;
  margin: 27px auto 27px;
}

